<script src="https://kit.fontawesome.com/6435fd81a5.js" crossorigin="anonymous"></script>
<h1>{{title}}</h1>
<p>Welcome to our company!</p>
<!-- <ol>
  <li>{{fname}}</li>
  <li>{{fname}} but cooler</li>
  <li>{{date}}</li>
</ol> -->



<app-employees></app-employees>



<footer>
  <div>
    <button class="icon"><fa-icon [icon]="faTwitter" ></fa-icon></button>
    <button class="icon"><fa-icon [icon]="faWhatsapp" ></fa-icon></button>
    <button class="icon"><fa-icon [icon]="faFacebook" ></fa-icon></button>
  </div>
  <span class="small-txt">{{footer}}</span>
</footer>